header .grid {
  display: grid;
  grid-template-rows: 2.3rem 6rem 2.8rem;
}


header .navigation {
  position: relative;
  background-color: #F8F3E8;
  box-shadow: 0px 1px 2px 0px rgba(201,114,124,1);
  display: flex;
  border-top: 2px solid rgba(201,114,124,1);
    border-bottom: 2px solid rgba(201,114,124,1);
}

header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9;
  position: relative;

}
.logo  a{
  font-size: 2.75rem;
  text-shadow: 1px 2px 0 #462521;
  color: #e1276e;
  letter-spacing: 1.5px;}

.navigation::before {
  content: "";
  position: absolute;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  border-top: 1px solid rgba(201,114,124,1);
  border-bottom: 1px solid rgba(201,114,124,1);
}

.logo span a .neon {
  animation: text-flicker 6s linear infinite;
  color: #d11d62;
    color: #e1276e;
}
header ul {
  list-style: none;
  display: flex;
  color: #462521;
    text-shadow: 1px 2px 1px #ddd;
}
header ul li a{
  padding: 0 0.5rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  header ul {
    position: absolute;
    bottom: -42px;
  }
  header ul:first-of-type {
    left: 20px;
  }
  header ul:nth-of-type(2) {
    right: 20px;
  }
  header ul li a {
    font-size: 0.9em;
  }
}

@keyframes text-flicker {
  0% {
    opacity:1;
    ;
    text-shadow: 1px 2px 0 #462521;
  }
  23% {
    opacity:1;
    ;
    text-shadow: 1px 2px 0 #462521;
  }
  25% {
    opacity:0;

        text-shadow: 1px 2px 3px #462521;
  }
  26% {
    opacity:1;

        text-shadow: 1px 2px 0 #462521;
  }
  97% {
    opacity:1;

        text-shadow: 1px 2px 0 #462521;
  }

  99% {
    opacity:0.7;

        text-shadow: 1px 2px 3px #462521;
  }
  100% {
    opacity:1;

        text-shadow: 1px 2px 3px #462521;
  }
}
